/***** first exercise *****/
.ex-1-square {
    transition: background-color 1s linear;  
}

.ex-1-square:hover {
    background-color: red;
}

/***** second exercise *****/
.ex-2-square {
    transition: width 2s ease;
}
.ex-2-square:active {
    width: 100%;
}

/***** third exercise *****/
.ex-3-square {
    transition: border-radius 0.5s linear;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/***** fourth exercise *****/
.ex-4-square {
    transition: background-color 1s linear;
}

.ex-4-square:hover {
    background-color: transparent;
}