/***** first exercise *****/
.ex-1-square {
    transition: background-color 1s linear;  
}

.ex-1-square:hover {
    background-color: red;
}

/***** second exercise *****/
.ex-2-square {
    transition: width 2s ease;
}
.ex-2-square:active {
    width: 100%;
}

/***** third exercise *****/
.ex-3-square {
    transition: border-radius 0.5s linear;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/***** fourth exercise *****/
.ex-4-square {
    transition: background-color 1s linear;
}

.ex-4-square:hover {
    background-color: transparent;
}

/***** fifth exercise *****/
.ex-5-square {
    transition: transform 1s ease;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}

/***** sixth exercise *****/
.ex-6-img:hover {
    filter: grayscale(100%);
}

/***** seventh exercise *****/
.ex-7-img {
    transition: filter 2s linear;
}

.ex-7-img:hover {
    filter: sepia(70%);
}

/***** eighth exercise *****/
.ex-8-img {
    transition: filter 2s ease, border-radius 2s ease;
}

.ex-8-img:hover {
    filter: sepia(70%);
    border-radius: 20px;
}

/***** ninth exercise *****/
.ex-9-img {
    transition: filter 2s ease, transform 2s ease, border-radius 2s ease;
}

.ex-9-img:hover {
    filter: grayscale(60%);
    transform: scale(1.5);
    border-radius: 20px;
}

/***** tenth exercise *****/
.ex-10-icon {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    25% {
        transform: rotate(-90deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    75% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

/***** eleventh exercise *****/
.ex-11-icon:hover {
    animation: semi-spin 1.5s linear;
}

@keyframes semi-spin {
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/***** twelfth exercise *****/
.ex-12-button:hover .ex-12-top-white{
    animation: top-white 2s linear;
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: bottom-white 2s linear;
}

@keyframes top-white {
    25% {
        left: 40%;
    }
    50% {
        left: 69%;
    }
    75% {
        left: 40%;
    }
    100% {
        left: 10%;
    }
}

@keyframes bottom-white {
    25% {
        right: 45%;
    }
    50% {
        right: 69%;
    }
    75% {
        right: 45%;
    }
    100% {
        right: 20%;
    }
}

/***** thirteenth exercise *****/
.ex-13-button:hover .ex-13-top-white {
    animation: top-whit 2s linear;
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: bottom-whit 2s linear;
}

@keyframes top-whit {
    20% {
        left: calc(100% - 30px);
        top: -10px;
    }
    40% {
        left: calc(100% - 30px);
        top: 55px;
    }
    60% {
        top: 55px;
        left: calc(0% - 20px);
    }
    80% {
        top: -10px;
        left: calc(0% - 20px);
    }
    100% {
        top: -10px;
        left: 10%;
    }
}

@keyframes bottom-whit {
    20% {
        right: calc(100% - 40px);
        bottom: -10px;
    }
    40% {
        right: calc(100% - 40px);
        bottom: 55px;
    }
    60% {
        bottom: 55px;
        right: calc(0% - 30px);
    }
    80% {
        bottom: -10px;
        right: calc(0% - 30px);
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}