/***** first exercise *****/
.ex-1-square {
    transition: background-color 1s linear;  
}

.ex-1-square:hover {
    background-color: red;
}

/***** second exercise *****/
.ex-2-square {
    transition: width 2s ease;
}
.ex-2-square:active {
    width: 100%;
}

/***** third exercise *****/
.ex-3-square {
    transition: border-radius 0.5s linear;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/***** fourth exercise *****/
.ex-4-square {
    transition: background-color 1s linear;
}

.ex-4-square:hover {
    background-color: transparent;
}

/***** fifth exercise *****/
.ex-5-square {
    transition: transform 1s ease;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}

/***** sixth exercise *****/
.ex-6-img:hover {
    filter: grayscale(100%);
}

/***** seventh exercise *****/
.ex-7-img {
    transition: filter 2s linear;
}

.ex-7-img:hover {
    filter: sepia(70%);
}

/***** eighth exercise *****/
.ex-8-img {
    transition: filter 2s ease, border-radius 2s ease;
}

.ex-8-img:hover {
    filter: sepia(70%);
    border-radius: 20px;
}

/***** ninth exercise *****/
.ex-9-img {
    transition: filter 2s ease, transform 2s ease, border-radius 2s ease;
}

.ex-9-img:hover {
    filter: grayscale(60%);
    transform: scale(1.5);
    border-radius: 20px;
}

/***** tenth exercise *****/
.ex-10-icon {
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    25% {
        transform: rotate(-90deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    75% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

/***** eleventh exercise *****/
.ex-11-icon:hover {
    animation-name: semi-spin;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}

@keyframes semi-spin {
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0deg);
    }
}